
@{
    ViewBag.Title = "editCourseManagement";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<style>

    .box {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        padding-top: 10px;
    }

    input:hover {
        background-color: lightgrey;
    }
</style>

@{
if (ViewBag.data != null)
            {
                foreach(var data in ViewBag.data.Rows)
                {
    <section class="page-content course-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="widget-set">
                            <div class="widget-content multistep-form">
                                <div class="add-instructor-form">
                                    <div class="row ">
                                        <div class="col-sm-12 p-5 ">
                                            <form id="cform" name="cform" method="post" enctype="multipart/form-data">
                                                <div class="add-instructor-inner-header ">
                                                    <center><h4 class="fw-bold" style="color:orangered">UPDATE COURSE</h4></center>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Course Title</label>
                                                            <input type="text" value="@data["course_title"]" class="form-control" placeholder="Course Title.." name="title">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Course Thumbnail(369*271)</label>
                                                            <input type="file"  id="fileChooser" onchange="return ValidateFileUpload()" value="@data["Select_Course_Category"]" accept="image/*" class="form-control" name="thumbnail">
                                                        </div>
                                                        <img src="~/Content/pic/@data["Course_Thumbnail"]" style="height:45px;"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Select Course Category</label>
                                                            <select class="form-control" name="category">
                                                                <option value="@data["Select_Course_Category"]" selected disabled>Select Category</option>
                                                                @foreach (var row in ViewBag.Course.Rows)
                                                                {
                                                                    var courseCategory = row[0].ToString();
                                                                    var courseName = row[1].ToString();
                                                                    if (@data["Select_Course_Category"].ToString() == courseCategory)
                                                                    {
                                                                        <option selected value="@row[0]">@row[1]</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@row[0]">@row[1]</option>
                                                                    }
                                                                }









                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Select Course Instructor</label>
                                                            <select class="form-control" name="instructor">
                                                                <option value="@data["Select_Course_Instructor"]" selected disabled>Select Instructor</option>
                                                                @*@foreach (var row in ViewBag.instructer.Rows)
                                                                {
                                                                    <option value="@row[0]">@row[1]</option>
                                                                }*@

                                                                @foreach (var row in ViewBag.instructer.Rows)
                                                                {
                                                                    var instid = row[0].ToString();
                                                                    var insname = row[1].ToString();
                                                                    if (@data["Select_Course_Instructor"].ToString() == instid)
                                                                    {
                                                                        <option selected value="@row[0]">@row[1]</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@row[0]">@row[1]</option>
                                                                    }
                                                                }
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Course Fee</label>
                                                            <input type="number" value="@data["Course_Fee"]" class="form-control" placeholder="Course Fee.." name="fee">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="add-instructor-label">Course Final Fee</label>
                                                            <input type="number" value="@data["Course_Final_Fee"]" placeholder="Enter Discounted Fee.." class="form-control" name="finalfee">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="add-instructor-label">Course Details</label>
                                                        <textarea placeholder="Enter Description.." class="form-control-lg" name="cdetail" id="desc">@data["Course_Details"]</textarea>
                                                            <script>
                                                                ClassicEditor
                                                                    .create(document.querySelector('#desc'))
                                                                    .catch(error => {
                                                                        console.error(error);
                                                                    });
                                                            </script>


                                                        @*<textarea placeholder="Enter Description.." class="form-control-lg" value="@data["Course_Details"]" name="cdetail" id="desc"></textarea>
                                                        <script>ClassicEditor.create(document.getElementById("desc"))</script>*@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="add-instructor-label">Course Duration</label>
                                                        <input value="@data["Course_Duration"]" type="date" name="duration" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="widget-btn">

                                                    <input type="submit" class="btn btn-black ms-5" value="Update Now" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-sm-7">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                }
            }
}
